
.body{
  background-color: rgb(198, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.pageDemo{
  background-color: rgb(198, 34, 34);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;



  

}
.pageDemo h1{
  font-size: 50px;
  font-weight: 500;
  border: 2px solid white;
  padding: 20px;

}